<!doctype html>
<html lang="en-US">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

  <title>Morsekode oversæt</title>
</head>

<body>
  <h1>Morsekode</h1>
  <div id="app">
    <div v-if="morseToTekst">
      <input v-model="morsekode" placeholder="Morsekode">
      <button class="btn btn-primary">Oversæt</button>
      <input v-model="tekst" placeholder="Tekst">
      <button v-on:click="oversætTekst" class="btn btn-primary">OversætTekst</button>
    </div>
    <div v-else>
      <input v-model="tekst" placeholder="Tekst">
      <button class="btn btn-primary">Oversæt</button>
      <input v-model="morsekode" placeholder="Morsekode">
      <button v-on:click="oversætTekst" class="btn btn-primary">OversætMorse</button>
    </div>

  </div>


  <script src="bundle.js"></script>
</body>

</html>