<!doctype html>
<html lang="en-US">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

  <title>Morsekode oversæt</title>
</head>

<style>
  body {
    background-color: aquamarine;
  }
</style>

<body>
  <h1>Morsekode</h1>
  <div id="app">
    <select v-model="oversættelse">
      <option value="oversætTekst">OversætTekst</option>
      <option value="oversætMorse">OversætMorse</option>
    </select>
    <div v-if="tekstFraMorse">
      <input v-model="morsekode" placeholder="Morsekode">
      <button class="btn btn-primary">Oversæt</button>
      <div>{{ result }}</div>
    </div>
    <div v-else>
      <input v-model="tekst" placeholder="Tekst">
      <button class="btn btn-primary">Oversæt</button>
      <div>{{ result }}</div>
    </div>

  </div>

  <script src="bundle.js"></script>
</body>

</html>